body {
  margin: 0;
  padding: 0;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: auto;
  display: flex;
  justify-content: space-between;
  color: #7C6A0A;
  padding: 15px 0 15px 0;
}
nav p {
  font-size: 1.5em;
  padding-left: 65px;
}
nav .icons {
  display: flex;
  gap: 15px;
  padding-right: 65px;
}
nav .icons button {
  background: none;
  border-style: none;
  cursor: pointer;
}

article {
  width: auto;
  color: #7C6A0A;
  padding: 70px 60px 0 60px;
  display: flex;
  justify-content: space-between;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 25px;
}
article h1 {
  font-size: 3em;
  padding: 0;
  margin: 0;
}
article p {
  font-size: 1.5em;
}
article button {
  width: 12vw;
  padding: 20px;
  background-color: #FA9500;
  border-style: none;
  cursor: pointer;
  border-radius: 35px;
  color: white;
  font-size: 1em;
}
article .image-section {
  width: 500px;
  height: 600px;
  overflow: hidden;
}
article .image-section img {
  width: 100%;
  height: 100%;
  border-radius: 19px;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  width: auto;
  height: auto;
  padding: 60px;
}
section h2 {
  color: #7C6A0A;
  font-size: 2em;
}
section .healthcare, section .furniture {
  padding-bottom: 60px;
}
section .healthcare h2, section .furniture h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
section .healthcare .card-section, section .furniture .card-section {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 180px;
       column-gap: 180px;
  row-gap: 80px;
}
section .healthcare .card-section .product-card, section .furniture .card-section .product-card {
  width: 18vw;
  height: 58vh;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 15px -3px rgba(61, 57, 61, 0.81);
}
section .healthcare .card-section .product-card h3, section .furniture .card-section .product-card h3 {
  margin-bottom: 0;
}
section .healthcare .card-section .product-card p, section .furniture .card-section .product-card p {
  margin-top: 0;
}
section .healthcare .card-section .product-card .icon, section .furniture .card-section .product-card .icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;
}
section .healthcare .card-section .product-card .icon svg, section .furniture .card-section .product-card .icon svg {
  width: 28px;
  height: 28px;
}
section .healthcare .card-section .product-card .icon svg path, section .furniture .card-section .product-card .icon svg path {
  stroke: #7C6A0A;
}
section .healthcare .card-section .product-card .product-image, section .furniture .card-section .product-card .product-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .healthcare .card-section .product-card .product-image img, section .furniture .card-section .product-card .product-image img {
  width: 18vw;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
section .furniture .card-section .product-card {
  background-color: #BABD8D;
  color: white;
}
section .furniture .card-section .product-card .icon svg path {
  stroke: white;
}

footer {
  background-color: #FA9500;
  width: 100%;
  height: 250px;
}/*# sourceMappingURL=main.css.map */